<header role="banner" class="header">
  <div class="container">
    <nav class="cluster" role="navigation" aria-label="main navigation" style="--justify: flex-start">
      <ul role="list">
        <li>
          <a class="navbar-item" href="{{ config.mainWebsiteURL }}">
            <img src="{{ config.basePath}}/assets/img/logo.png" width="133" height="51" alt="{{ config.mainWebsiteName }}">
          </a>
        </li>
      
        <li>
          <a class="navbar-item" href="{{ config.baseURL }}"><strong>Help Centre</strong></a>
        </li>

        <li>
        {% include 'searchform.njk' %}
        </li>

        <li>
          <a class="button" href="">
            <strong>Contact</strong>
          </a>
        </li>

        <li>
          <a class="button is-light" href="{{ config.basePath }}/lang/">
            <strong>{{ languageButton }} ({{ lang }})</strong>
          </a>
        </li>

    </nav>
  </div>  
</header>