<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }} | {{ config.websiteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.metaDescription }}">
    <link rel="canonical" href="{{ config.baseURL }}{{ page.url }}">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"> #}
    <link rel="stylesheet" href="{{ config.basePath }}/assets/css/style.css">
    <link rel="icon" href="">
    <link rel="apple-touch-icon" href="">
    
  </head>
  <body>