---
title: Home page
lang: en
languageButton: Select a language
---
{% include 'head.njk' %}
{% include 'header.njk' %}
  <main>
    <div class="columns">
      <div class="column is-11 is-offset-1">
      <section class="wrapper">
        <div class="hero-body">
          <h1 class="title">{{ title }}</h1>
          <p class="subtitle">
            Hero subtitle
          </p>
          {% include 'searchform.njk' %}
        </div>
      </section>
      </div>
    </div>
    
    <section class="section">
      <div class="wrapper">
        <h2 class="title">Popular articles</h2>
          
        <div class="auto-grid">
          
          {% for item in collections.all %}
            {% if item.url.indexOf("articles") !== -1 %}
              <div class="card">
              <div class="card-content">
                <h3 class="title"><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
                <div class="content">
                  {{ item.data.content | safe }}
                  <a href="{{ item.url }}">Read more <span class="visually-hidden">about {{ item.title }}</span></a>
                </div>
              </div>
              </div>
            {% endif %}
            

          {% endfor %}

          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <div class="content">
                <p>Part of a description of the article</p>
                <a href="#article">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    
  </main>
{% include 'footer.njk' %}
  <script>
    document.querySelector('form#search').addEventListener('submit', (e) => {
      e.preventDefault();
    });
  </script>
  </body>
</html>