---
title: Home page
lang: en
languageButton: Select a language
---
{% include 'head.njk' %}
{% include 'header.njk' %}
  <main>
    
    <section class="wrapper">
      <div class="hero flow">
        <h1 class="title">{{ title }}</h1>
        <p class="subtitle">
          Hero subtitle
        </p>
        
        <form id="search">
          <div class="searchbox" data-state="large">
              <input dir="ltr" type="text" placeholder="Search help articles" aria-label="Search help articles" spellcheck="false" autocomplete="off" />
              <button type="submit">Search</button>
          </div>
        </form>
      </div>
    </section>
     
    
    <section class="section">
      <div class="wrapper">
        <h2 class="title">Popular articles</h2>
          
        <div class="auto-grid">
          
          {% for item in collections.all %}
            {% if item.url.indexOf("article/") !== -1 %}
            <div class="card">
              <div class="flow">
                <h3 class="title"><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
                {{ item.data.content | safe }}
                <a href="{{ item.url }}">Read more <span class="visually-hidden">about {{ item.title }}</span></a>
              </div>
            </div>
            {% endif %}
            

          {% endfor %}

          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>

          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
          <div class="card">
            <div class="flow">
              <h3 class="title"><a href="#article">Article title</a></h3>
              <p>Part of a description of the article</p>
              <a href="#article">Read more <span class="visually-hidden">about article title</span></a>
            </div>
          </div>
          
        </div>

        <div class="">
          <a href="/articles/">View all articles</a>
        </div>
      </div>
    </section>
    
  </main>
{% include 'footer.njk' %}
  <script>
    document.querySelector('form#search').addEventListener('submit', (e) => {
      e.preventDefault();
    });
  </script>
  </body>
</html>