<form id="search">
    <div class="field has-addons">
        <p class="control">
            <input class="input is-medium" dir="ltr" type="search" placeholder="Search help articles" aria-label="Search help articles" spellcheck="false" autocomplete="off" />
        </p>
        <p class="control">
          <button class="button is-medium">
            Search
          </button>
        </p>
    </div>
</form>
