<form id="search">
    <div class="searchbox">
        <input dir="ltr" type="text" placeholder="Search help articles" aria-label="Search help articles" spellcheck="false" autocomplete="off" />
        <button type="submit">Search</button>
    </div>
</form>
