<form id="search">
    <div class="field">
        <input class="input is-medium" dir="ltr" type="text" placeholder="Search help articles" aria-label="Search help articles" spellcheck="false" autocomplete="off" />
        <button type="submit" class="button is-medium">Search</button>
    </div>
</form>
